*.ncb
*.user
*.suo
*.cfg
*.pdb
*.idb
*.htm
*.ilk
*.log
*.obj
*.lib
*.tli
*.tlh
*.res
*.exe
*.dep
*.pch
*.aps
*.dll
*.dat
*.txt
*.prs
*.tmp
*.manifest
*.i
Src/*/Debug
Src/*/Release
Src/debug/*.lib
/Src/.vscode
/.vscode
/Src/debug/LOG
/Src/debug/RollData
/Src/release
/Src/release/LOG
/Src/debug/pthreadVC2.dll
/Src/debug/*.exe
/Src/debug/Log1.txt
Src_c
/Src_c